numpy==1.21.5
Cython==0.29.36
scipy==1.7.3
scikit-learn==1.0.2
Flask==2.0.3
gunicorn==20.1.0
uvicorn==0.18.3
pandas==1.4.1
matplotlib==3.5.1
seaborn==0.11.2
jupy
flask-cors==3.0.10
nbformat==5.8.0
nbconvert==7.7.3
markdown==3.4.4
jupyter==1.0.0
ipykernel==6.25.2
